.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-color-invert);
  display: flex;
  align-items: center;
  padding: 20px;
}
.links {
  margin-left: auto;
  display: flex;
  gap: 15px;

}

